@import "../colors.scss";
.footer {
  width: 100%;
  height: 100%;
  padding: .5rem;
  background-color: whitesmoke;
  color: $dark;
  display: grid;
  grid-template-columns: 4fr 5fr;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
h2{
  color: $third;
}
  p{
  margin-top: 7px;
  }

.right{
    align-items: center;
}
  .right > h5 {
    font-size: 1.2rem;
  }
  .right > div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;

    a{
        margin: 1px 5px;
        color: $third;
        font-size: 15px;

        &:hover{
          color: $second;
        }
    }
  }
}
